<!DOCTYPE html>
<html>
<head>
	<title> Contact page </title>

	<link rel="stylesheet" href="css/styles.css">

</head>
<body>

<h2> Contact us</h2>

<p> Message sent</p>
	
</body>

</html>