<!DOCTYPE html>
<html>
<head>
	<title> Contact page </title>

	<link rel="stylesheet" href="css/styles.css">

</head>
<body>

<h2> Contact us</h2>

<form action="./contact.ejs" method="post">
  
		<input id="userEmail" type="email" placeholder="Your Email Address" name="email" required><br><br>
		<input id="subject" type="text" placeholder="Subject" name="subject" required><br><br>
		<textarea id="message" placeholder="Type your message here" name="message" required></textarea><br><br>
		<input type="submit" value="Submit"><br>

	</form>
	
</body>

</html>